
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MathBot.Models.VM.OperationVM

<div class="text-center">
    <h1 class="display-4">Welcome to MathBot!</h1>

</div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(q => q.FirstNumber, new { @class = "col-sm-3 text-left control-label col-form-label" })
                @Html.TextBoxFor(q => q.FirstNumber, new { @placeholder = "Enter Number *", @class = "form-control", @id = "Fno" })
                @Html.ValidationMessageFor(q => q.FirstNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(q => q.SecondNumber, new { @class = "col-sm-3 text-left control-label col-form-label" })
                @Html.TextBoxFor(q => q.SecondNumber, new { @placeholder = "Enter Number *", @class = "form-control", @id = "Sno" })
                @Html.ValidationMessageFor(q => q.SecondNumber, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    @*<div class="row">
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(q => q.opera, new { @class = "col-sm-3 text-left control-label col-form-label" })
                @Html.TextBoxFor(q => q.SecondNumber, new { @placeholder = "Enter Number *", @class = "form-control", @id = "Sno" })
                @Html.ValidationMessageFor(q => q.SecondNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@







